.home {
  max-height: 100vh;
}

.hero {
  position: relative;
}

.video {
  z-index: -998;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}


.hero__video--lighting {
  z-index: -997;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0) 71%
  );
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

#hero {
  position: relative;
  height: 70vh;
  overflow: hidden;
  background-color: var(--black);

}

.hero__inner {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

.hero__below-divider {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 500px;
  flex-grow: 1;
}

.call-action {
  display: flex;
  flex-basis: 500px;
  flex-grow: 1;
}

.home__hero--headline {
  font-size: 11vw;
  font-weight: 700;
  line-height: 90%;
}

.home__hero-1,
.home__hero-2,
.home__hero-3,
.home__hero-4 {
  text-align: center;
  color: white;
  // font-size: 50%;
}

.home__hero-1 {
  opacity: 0.6;
  letter-spacing: -0.025em;
  font-size: 20%;
  line-height: 90%;
}

// .home__hero-2 {
//   opacity: 0.6;
//   letter-spacing: -0.025em;
//   margin-top: -0.5vw;
//   margin-bottom: -0.5vw;
//   font-size: 35%;
//   line-height: 90%;
// }

// .home__hero-3 {
//   opacity: 0.6;
//   letter-spacing: -0.025em;
//   margin-bottom: -0.5vw;
//   font-size: 50%;
//   line-height: 90%;
// }

.home__hero-4 {
  letter-spacing: -0.02em;
  // line-height: 60%;
  font-size: 0.5em;
}

.hero__h1 {
  margin: 0 auto;
  line-height: 125%;
  text-wrap: balance;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
  // max-width: 750px;
  text-align: center;
  color: var(--grey);
}

.hero__search--outer {
  // max-width: 1000px;
  margin: 0 auto;
}





.start {
  // background-color: var(--light-purple);
  border: 3px solid var(--grey);
  border-radius: 20px;
  padding: .5em 1em;
  margin: 1em;
  font-size: 1.5em;
  font-family: var(--turret);
  display: flex;
  flex-grow: 1;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  &:hover {
    background-color: var(--light-purple);
  }
  transition: background-color 0.3s linear;
}

nav {
  // background-color: var(--dark-purple);
  padding: 1em;
  display: flex;
  gap: 2em;
  font-size: 1.5em;
  color: var(--grey);
  width: 2000px;
  max-width: 90vw;
  margin: auto;
  padding-bottom: 0;
  position: relative;
  height: 3em;
  font-family: var(--turret);
  border-bottom: 2px solid var(--grey);
  .h-screen {
    position: absolute;
    top: 5%;
    right: 5%;
    padding: 1em;
  }
  .signin, .signup {
    &:hover {
      color: var(--light-purple);
    }
    transition: color 0.3s linear;
  }
}
