.hero {
  position: relative;
}

.video {
  z-index: -998;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}


.hero__video--lighting {
  z-index: -997;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0) 71%
  );
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

#hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home__hero--headline {
  font-size: 11vw;
  font-weight: 700;
  line-height: 90%;
}

.home__hero-1,
.home__hero-2,
.home__hero-3,
.home__hero-4 {
  text-align: center;
  color: white;
  // font-size: 50%;
}

.home__hero-1 {
  opacity: 0.6;
  letter-spacing: -0.025em;
  font-size: 20%;
  line-height: 90%;
}

.home__hero-2 {
  opacity: 0.6;
  letter-spacing: -0.025em;
  margin-top: -0.5vw;
  margin-bottom: -0.5vw;
  font-size: 35%;
  line-height: 90%;
}

.home__hero-3 {
  opacity: 0.6;
  letter-spacing: -0.025em;
  margin-bottom: -0.5vw;
  font-size: 50%;
  line-height: 90%;
}

.home__hero-4 {
  letter-spacing: -0.02em;
  line-height: 60%;
}

.hero__h1 {
  margin: 0 auto;
  line-height: 125%;
  text-wrap: balance;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
  max-width: 750px;
  text-align: center;
}

.hero__search--outer {
  max-width: 1000px;
  margin: 0 auto;
}

.hero__below-divider {
  height: calc(100vh - 155.65px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.h-screen {
  position: absolute;
  top: 5%;
  right: 5%;
}

.start {
  background-color: var(--light-blue);
  border: 3px solid var(--dark-blue);
  border-radius: 20px;
  padding: .5em 1em;
  margin: 1em;
  font-size: 1.5em;
  font-family: var(--turret);
  display: flex;
  gap: 0.5em;
  justify-content: center;
}