.dashboard {
    height: 100vh;
    width: 100vw;
    
    .blobs {
        display: flex;
    }

    .purple-blob1 {
        // display: none;
        height: 100vh;
        width: 50vw;
        background-color: var(--dark-purple);
        clip-path: polygon(
            14% 0%,
            60% 0%,
            78% 25%,
            56% 50%,
            30% 30%
        );
    }

    .purple-blob2 {
        height: 100vh;
        width: 50vw;
        background-color: var(--dark-purple);
        clip-path: polygon(
            30% 100%,
            30% 72%,
            70% 70%, 
            70% 40%, 
            100% 35%,
            100% 100%,
            30% 100%
        );
    }

    .blur-layer {
        height: 100vh;
        width: 100vw;
        backdrop-filter: blur(100px);
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;

        nav {
            width: 10vw;
            height: 90vh;
            border-right: 3px solid var(--grey);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2vw;
            justify-content: space-evenly;

            .nav-icons {
                width: 5vw;
                height: 5vw;
            }

        }

        .menu {
            display: flex;
            height: 100vh;
            flex-grow: 1;
            flex-direction: column;

            .top-row {
                display: flex;
                justify-content: center;
                .exercise {
                    background-color: var(--light-blue);
                    border: 3px solid var(--dark-blue);
                    border-radius: 20px;
                    padding: .5em 1em;
                    margin: 1em;
                    font-size: 1.5em;
                    font-family: var(--turret);
                    display: flex;
                    gap: 0.5em;
                }
            }

            .panels {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                height: auto;
                gap: 1em;
                margin: 0 1em;
                overflow-y: scroll;
                scrollbar-color: var(--light-purple) var(--dark-blue);
                scrollbar-width: thin;

                @mixin purple-box {
                    border-radius: 20px;
                    border: 3px solid var(--light-purple);
                    display: flex;
                    padding: 1em;
                    // &:hover: box-shadow: ;
                }


                .col2 {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 750px;
                    flex-grow: 1;
                    gap: .5em;

                    .profile {
                        width: 750px;
                        @include purple-box;
                        flex-direction: column;
                        gap: 1em;
                        span {
                            display: flex;
                            gap: .75em;
                            font-size: 1.5em;
                        }
                    }
                    .row2 {
                        display: flex;
                        flex-direction: row;
                        gap: .5em;
                        .stats1 {
                            @include purple-box;
                        }
                        .stats2 {
                            @include purple-box;
                            width: 100px;
                            height: 100px;
                        }
                    }
                    .row3 {
                        display: flex;
                        flex-direction: row;
                        gap: .5em;
                        .leaderboard {
                            @include purple-box;
                        }
                        .friends {
                            @include purple-box;
                        }
                    }
                }
            }
        }

        h3, h2, p {
            width: max-content;
        }
    }

}