#exercise {

}

.container {
    display: flex;
    justify-content: space-between;
}

.video {
    width: 100%;
    height: 900px;
}

nav {
    position: absolute;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
}